.navbar-brand {
  font-weight: bold;
  font-size: 1.3rem;
}

.bg-darkblue {
  background-color: #0d1b2a;
}

li:hover {
  background-color: #1b2a41;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
