* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card img {
  height: 200px;
  background-size: cover;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.card-body h5,
.card-body p {
  margin: 10px 0;
}

.card-body a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: 0.3s;
}

.card-body a:hover {
  color: #0056b3;
  text-decoration: underline;
}


button {
  padding: 10px;
}


.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.quantity-control input {
  width: 45px;
  text-align: center;
  font-size: 14px;
  padding: 2px;
  height: 30px;
}

.quantity-control button {
  height: 30px;
  width: 30px;
  padding: 0;
}
